# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# FastAPI / Logs
# =========================
*.log

# =========================
# Database
# =========================
*.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Node (frontend)
# =========================
node_modules/
dist/
build/